mixin fb-post(post)
  #fb-post.post-container
    .post
      .header
        img.profile-photo(src=post.picture)
        .meta
          h3#post-page.reveal-text(data-default='Untitled Page') #{post.from}
          p
            | 7hrs · 
            i.public
      .body
        p #{post.data.message}
        if post.data.status_type == 'added_photos'
          if post.data.full_picture
            .media
              img(src=post.data.full_picture)
        else
          if post.data.attachment
            .media
              .image(style='background-image: url("' + post.data.full_picture + '");')
              .deck
                h1 #{post.data.attachment.title}
                p #{post.data.attachment.description}
                h6 website.com
        
        //- 
        //- $(`<div class='media' id='post-attachment'>
        //-       <div class='image' id='post-full_picture'></div>
        //-       <div class='deck'>
        //-         <h1 id='post-attachment-title'>Mei elitr RVeriri rationibus id nulla expetenda pro ad</h1>
        //-         <p id='post-attachment-description'>Ea his partem erroribus, est ea labore utroque delectus, sea meliore platonem ut. Ex odio diam voluptatibus sea, doming mollis civibus ea nec.</p>
        //-         <h6 class='reveal-text' id='post-attachment-source' data-default='website.com'>website.com</h6>
        //-       </div>
        //-     </div>`).inser
